/* * {
    outline: 2px solid red;
}  */

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
        'header'
        'main'
        'footer';
    align-content: space-evenly;
    align-self: stretch;
    justify-content: center;
    justify-items: stretch;
    margin: 0;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'header-logo header-links';
    justify-items: center;
    align-items: center;
    place-content: start;
}

.header-logo {
    display: grid;
    grid-area: header-logo;
    justify-self: start;
    margin: 0 128px;
    font-size: 24px;
    color: #f9faf8;
}

.header-links{
    display: grid;
    grid-area: header-links;
    grid-template-areas: 
    'link-one link-two link-three';
    justify-self: end;
    margin: 0 128px;
    gap: 12px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        'hero'
        'second-block'
        'inspirational-quote'
        'call-to-action';
    grid-template-rows:
    repeat(4, 1fr);
}

.hero {
    display: grid;
    grid-area: hero;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'hero-left hero-right';
    justify-items: center;
    align-items: center;
}

.hero-left {
    display: grid;
    grid-area: hero-left;
    grid-template-rows: 1fr 1fr;
    margin: 0 128px;
    justify-items: start;
}

.hero-left-bold {
    font-size: 36px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-left-sub, .header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right {
    display: grid;
    grid-area: hero-right;
    margin: 0 128px;
    background-color: #e5e7eb;
}

.second-block {
    display: grid;
    grid-area: second-block;
    align-items: start;
    justify-items: center;
    padding: 16px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.pictures-and-sub-text {
    display: grid;
    grid-template-columns: 
    repeat(4, 1fr);
    margin: 0 128px;
}

.inspirational-quote {
    display: grid;
    grid-area: inspirational-quote;
    justify-items: center;
    align-items: center;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    background-color: #e5e7eb;
}

.quote {
    display: grid;
    margin: 0 128px;
    padding: 64px;
}

.quotee {
    display: grid;
    font-size: 24px;
    font-weight: 900;
    justify-self: end;
    margin: 16px 128px;
}

.call-to-action {
    display: grid;
    grid-area: call-to-action;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
        'call-to-action-text call-to-action-button';
    border-radius: 15px;
    background-color: #3882f6;
    margin: 128px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    min-height: 20vh;
    min-width: 60vh;
}

.call-to-action button {
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 9px;
    font-size: 16px;
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
}

.call-to-action button:hover {opacity: 1}

.footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-size: 48px;
    background-color: #1f2937;
    color: #f9faf8;
}

.header, .hero {
    background-color: #1f2937;
}